smartBrille/package-lock.json
secureMqtt/__pycache__/mqttInterface.cpython-310.pyc
odooMqttConnector/__pycache__/odooInterface.cpython-310.pyc
odooMqttConnector/__pycache__/mqttInterface.cpython-310.pyc
smartBrille/package-lock.json
